{% extends 'base.html.twig' %}

{% block meta_description %}
Réinitialiser votre mot de passe
{% endblock %}

{% block title %}Récupérer mon mot de passe {{parent()}}{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="p-5 container text-light" style="max-width: 600px">
        <h1 class="h3 mb-3 font-weight-normal">Récupérer mon mot de passe</h1>

        {{ form_start(requestForm) }}
            {{ form_row(requestForm.email) }}
            <div>
                <p>
                    Entrez votre adresse email et nous vous enverrons un lien pour réinitialiser votre mot de passe.
                </p>
            </div>

            <button class="btn btn-primary text-light">Réinitialiser mon mot de passe</button>
        {{ form_end(requestForm) }}
    </div>
    <div class="p-5"></div>
{% endblock %}
